.achievementsBody {
    display: flex;
    flex-direction: column;
    background-color: hsl(252, 30%, 95%);
    margin: 250px auto;
    padding: 120px 0;
}

.achievementsContainer {
    max-width: 550px;
    margin-top: 0;
    margin-bottom: 4rem;
    font-weight: bold;
    font-size: 2rem;
    align-self: center;
}

.cardList {
    display: flex;
    flex-direction: row;
    gap: 40px;
    scroll-behavior: smooth;
    margin-left: -15vw;
    transition: transform 0.3s ease;
}