@import '../../assets/fonts/manrope.css';

.achievementsBody {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: hsl(252, 30%, 95%);
    margin: 250px auto;
    padding: 120px 0;
}

.achievementsContainer {
    max-width: 550px;
    margin-top: 0;
    margin-bottom: 4rem;
    font-weight: bold;
    font-size: 2rem;
    align-self: center;
}

.cardList {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    scroll-behavior: smooth;
    transition: transform 0.3s ease;
}

.arrowButtonLeft {
    font-family: "Manrope";
    display: flex;
    justify-content: center;
    font-weight: 200;
    position: absolute;
    top: 60vh;
    left: 2vw;
    width: 60px;
    height: 60px;
    z-index: 10;
    background-color: rgba(44, 44, 44, 0.6);
    backdrop-filter: blur(8px);
    color: white;
    border: none;
    font-size: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.arrowButtonRight {
    font-family: "Manrope";
    display: flex;
    justify-content: center;
    font-weight: 200;
    position: absolute;
    top: 60vh;
    right: 2vw;
    width: 60px;
    height: 60px;
    z-index: 10;
    background-color: rgba(44, 44, 44, 0.6);
    backdrop-filter: blur(8px);
    color: white;
    border: none;
    font-size: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.arrowButtonLeft:hover, .arrowButtonRight:hover {
    background-color: rgba(44, 44, 44, 0.7);
}

.cardNumbering {
    position: absolute;
    top: 92vh;
    align-self: center;
    display: flex;
    max-width: 450px;
    height: 2vh;
    width: auto;
    background-color: rgba(44, 44, 44, 0.6);
    border-radius: calc(1vh + 5px);
    backdrop-filter: blur(8px);
    padding: 4px 12px;
}

.cardDot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 158, 158);
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    margin: auto 5px;
}

.cardSelected {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    margin: auto 5px;
}